<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Senior Software Engineer Currently working with Tokopedia that is biggest online marketplace in Indonesia. <br> My role is primarly having the discussion with the Product Managers regarding the Product Requirment and bringing it to the real world.
			While working in the multiple companies i have taken the full responsebility for communication with infra setup, Architecture Design, Mentoring the junior developer, Coding and all the Software development phases.
			In my career i have explored <b>Golang,Php,C++<b> and other things that is required for the software development process and always keen to learn the new technologies. 
		</div>
		<br>
	</div>
</div>
